/*
This file defines all the colors which will be used across the app.
Defines color code in tokens makes my game experience interface consistent.
 */

$primary: #28264f;
$secondary: #8175c1;
$complementary: #a094e0;

$ui-bar-bg: fade-out(white, 0.4);
$red: #f87171;
$yellow: #fbbf24;
